@import "tailwindcss";

@theme {
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Inter", sans-serif;
  
  --color-institutional-navy: #002147;
  --color-institutional-gold: #c5a059;
  --color-institutional-cream: #f5f2ed;
}
